/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
}

/* ===== */

:root {
    font-size: 62.5%;

    /* typography, font */
    --inter: 'Inter', sans-serif;

    /* primary colors */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* neutral colors */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

body {
    font-size: 1.5rem;
    font-family: var(--inter);
}

/* Project focus: apply the knowledge with CSS GRID. Done only for desktop screen. */

.container {
    margin: 5rem auto;
    width: 100rem;  /* adapted. */
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapMenu {
    display: flex;
    gap: 4rem;
}

.itemMenu {
    color: var(--dark-grayish-blue);
    cursor: pointer;
}

.itemMenu:hover {
    color: var(--soft-red);
    font-weight: 700;
    transition: all .3s;
}

/* main, first section */

.imageWeb3 {
    width: 72rem;
}

.firstSection {
    margin: 5rem auto 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "firstSection-1 firstSection-1 firstSection-4"
    "firstSection-2 firstSection-3 firstSection-4";
    gap: 3rem;
}

#firstSection-1 {
    grid-area: firstSection-1;
    background-image: url(files/assets/images/image-web-3-desktop.jpg);
    background-size: cover;
    height: 30vh;
}

#firstSection-2 {
    grid-area: firstSection-2;
    font-size: 3.7rem;
    font-weight: 800;
    line-height: 5rem;
}

#firstSection-3 {
    grid-area: firstSection-3;
    display: grid;
    color: var(--dark-grayish-blue);
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: justify;
}

.buttonSection-3 {
    width: 50%;
    padding: 0.1rem;
    background-color: var(--soft-red);
    color: var(--off-white);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.buttonSection-3:hover {
    background-color: var(--very-dark-blue);
    transition: all .3s;
    cursor: pointer;
}

#firstSection-4 {
    grid-area: firstSection-4;
    display: grid;
    background-color: var(--very-dark-blue);
    padding: 2rem;
}

.titleSection-4 {
    color: var(--soft-orange);
    font-size: 3rem;
}

.subtitleSection-4 {
    color: var(--off-white);
    font-size: 1.6rem;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.subtitleSection-4:hover {
    color: var(--soft-orange);
    transition: all .3s;
    cursor: pointer;
}

.textSection-4 {
    color: var(--dark-grayish-blue);
    font-size: 1.4rem;
    line-height: 2.5rem;
    text-align: justify;     
}

#firstSection-4 p:nth-child(3) {   
    border-bottom: 0.5px solid var(--dark-grayish-blue);
}

#firstSection-4 p:nth-child(5) {   
    border-bottom: 0.5px solid var(--dark-grayish-blue);
}

/* main, second section */

.secondSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
}

.wrapImageInfoSecondSection {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.imageSecondSection {
    width: 10rem;
}

.wrapInfoSecondSection {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 20rem;
}

.titleSecondSection {
    color: var(--grayish-blue);
    font-size: 3rem;
}

.subtitleSecondSection {
    font-size: 1.6rem;
}

.subtitleSecondSection:hover {
    color: var(--soft-red);
    transition: all .3s;
    cursor: pointer;
}

.textSecondSection {
    color: var(--dark-grayish-blue);
    font-size: 1.4rem;
    line-height: 2.5rem;
    text-align: justify;
}

/* footer */

.footer {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
}

.footer-p {
    color: var(--dark-grayish-blue);
}

.footer-a {
    color: var(--very-dark-blue);
}

.footer-a:hover {
    color: var(--soft-red);
    transition: all .3s;
}